@import "../../styles/@variables";
@import "../../styles/@mixins";


.authorization {
    background: var(--bg1);
    align-items: center;
    height: 100vh;
}

.authorization__about {
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.authorization__hedhog {
    height: 20vh;
}

.authorization__title {
    padding-top: 20px;
    font-size: 40px;
}

.authorization__buttons {
    width: 30vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.authorization__form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 0 auto;
}

.authorization__input {
   width: 55%;
   @include paragraph;
   color: var(-typography);
   background-color: var(--bg2);
   border: 1px $medium-grey solid;
   border-radius: 4px;
   opacity: .25;
   text-align: right;
}

.authorization__subtext {
}

.authorization__input-area {
    display: flex;
    justify-content: space-between;
}

.authorization__input-error {
    padding-top: 10px;
    text-align: right;
    color: #9d3939;
    margin-bottom: 10px;
    height: 40px;
    @include heading-s
}

.authorization__remember {
    margin: 0 auto;
}