@import "../../styles/@variables";
@import "../../styles/@mixins";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--frame);
}

.header__logo {
  display: flex;
  min-width: 300px;
  border-right: 1px solid;
  border-color: var(--line);
  padding-top: 35px;
  padding-bottom: 37px;
  padding-left: 37px;
  gap: 10px;
}

.header__hedghog {
 
  height: 36px;
  fill: var(--typography);
}

.header__title {
  margin: 0;
  color: var(--typography);
  font-size: 24px;
}

.header__main {
  padding-bottom: 37px;
  padding-top: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-color: var(--line);
}

.header__desk {
  display: flex;
  flex-direction: row;
}

.header__desk-title {
  margin-left: 24px;
  color: var(--typography);
  padding-right: 12px;
  width: 12em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header__buttons {
  margin-right: 24px;
  align-items: center;
  display: flex;

  .edit-menu__frame {
    right: 85px;
  }
}

.header__board-settings {
  margin-left: 24px;
  cursor: pointer;
}

.header__avatar {
  margin-left: 14px;
  border-radius: 50%;
  background-color: var(--btn-bg);
  border: 3px 	  solid #635fc7;
  width: 60px;
  height: 60px;
  justify-content: center;
}

.header__avatar-img {
  // display: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
 
}

.header__avatar:hover {
  cursor: pointer;
}

@media screen and (max-width: 825px) {
  .header__desk-title {
    @include heading-l
  }
}

@media screen and (max-width: 753px) {
  .header__main {
    padding: 20px 0 20px 0;
  }

  .header__title {
    display: none;
  }

  .header__logo {
    min-width: 80px;
    border: none;
    width: 60px
  }

}

@media screen and (max-width: 536px) {
  .header__desk-title {
    @include heading-l
  }
}

@media screen and (max-width: 432px) {
  .header__logo {
    min-width: 80px;
    border: none;
    width: 60px;
    padding: 20px 16px
  }
  .header__desk-title {
    margin: 0;
    max-width: 9em;
  }
  .header__buttons {
    margin-right: 16px;

  }
}